@import 'variables';

.slider {
    padding: 38px 229px 82px 39px;
    a {
        font-size: 19px;
    }
    p{
        margin: 32px 0;
    }
}


.products-post {
    width: 40%;
}

.back-to-top {
    span {
        display: inline;
    }
}